<p-panel header="Pipes personalizados" class="p-1">
  <p>Pipes personalizados - creados por {{ 'nosotros' | toggleCase:false }}</p>
</p-panel>

<p-toolbar>
  <div class="p-toolbar-group-start">
      <p-button 
      label="ToogleCase" 
      icon="pi pi-search" 
      class="mr-2" 
      text severity="primary" 
      />
  </div>
  <div class="p-toolbar-group-end">
    <p-button 
    label="ToogleCase" 
    icon="pi pi-search" 
    class="mr-2" 
    text severity="help" 
    />
    <p-button 
    label="Por nombre" 
    icon="pi pi-sort" 
    class="mr-2" 
    text severity="info" 
    />
    <p-button 
    label="CanFly" 
    icon="pi pi-sort" 
    text severity="secondary" 
    />
    <p-button 
    label="Por color" 
    icon="pi pi-sort" 
    text severity="warn" 
    />
</div>
</p-toolbar>