<div
  class="alert alert-warning text-center"
  *ngIf="countries.length === 0"
>
  There are no countries available to be shown
</div>

<ng-template #table>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Icon</th>
        <th>Flag</th>
        <th>Name</th>
        <th>Population</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of countries; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ country.flag }}</td>
        <td>
          <img [src]="country.flags.svg" [alt]="country.name.common">
        </td>
        <td>{{ country.capital }}</td>
        <td>{{ country.population | number }}</td>
        <td><a href="...">More information</a></td>
      </tr>
    </tbody>
  </table>
</ng-template>
